.linkItem {
  display: flex;
  align-items: center;
  /* margin-bottom: 20px;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(227, 227, 227); */
  cursor: pointer;
  transition: all 0.3s ease;
}

.linkItem:hover {
  transform: scale(1.1);
}

svg {
  font-size: 24px;
  margin-right: 10px;
}

a {
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  color: #000;
  display: flex;
  justify-content: flex-start;
}
