.container {
  display: flex;
}

.main-content {
  /* background-color: #f2f2fc; */
  min-height: 100vh;
  /* padding: 50px 60px; */
  /* opacity: 1; */

  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

@media (max-width: 1350px) {
  .main-content {
    left: 0;
  }
}
